<launch>
  <rosparam file="$(find derobotee)/param/robot.yaml" command="load" ns="derobotee" />
  <rosparam file="$(find derobotee)/param/motor.yaml" command="load" ns="motor" />
    <!-- Starting Joint state publisher node which will publish the joint values -->
  <include file="$(find derobotee)/launch/includes/run.launch.xml"/>
  <include file="$(find derobotee)/launch/includes/gmapping.launch.xml"/>

</launch>
